<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocios.Properties.Settings.PruebaConnectionString"
            connectionString="Data Source=DESKTOP-5053CEB\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>